<div fxLayoutAlign="center center">
  <div layout="row">
    <h2 class="content-title">Please choose which days you will be available to schedule your meeting with the doctor</h2>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div>
        <div>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Choose a Date</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="dataChanged($event)">
            <button mat-raised-button (click)="picker.open()">Open</button>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field" appearance="fill">
            <input type="text" matInput placeholder="Title" [(ngModel)]="reservationData.title">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field" appearance="fill">
            <input type="text" matInput placeholder="Content" [(ngModel)]="reservationData.content">
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button (click)="addReservation()" color="primary">Reserve</button>
        </div>
      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>

