<mat-card>
  <mat-card-title>{{doctorData.name}}</mat-card-title>
  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  <mat-card-content>
    <p>This card indeterminates progress bar.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur cupiditate debitis delectus
      dignissimos enim error expedita id illo ipsa labore laboriosam nam necessitatibus nesciunt nobis quisquam quo,
      sed, voluptatem.</p>
  </mat-card-content>
  <mat-card-actions>

    <a href="https://meet.google.com/cpu-joos-dyc" mat-raised-button color="primary">Go Meet</a>
  </mat-card-actions>
</mat-card>
