<div>
  <h2>{{reservationData.title}}</h2>
  <p>{{reservationData.content}}</p>
  <div *ngIf="reservationData.status==null">
    <p> The doctor is doctor is processing your request.
      <mat-icon>access_time</mat-icon>
    </p>
  </div>
  <div *ngIf="reservationData.status==true">
    <p> The doctor accept your meeting.
      <mat-icon>check</mat-icon>
      <a href="{{reservationData.meetUrl}}" target="_blank" mat-raised-button color="primary">Go Meet</a>
    </p>
  </div>
  <div *ngIf="reservationData.status==false">
    <p> The doctor cancel your meeting.
      <mat-icon>cancel</mat-icon>
    </p>
  </div>
</div>
