<mat-drawer-container>
  <section class="Home">
    <div class="image-main">
      <mat-sidenav-container class="main-text d-flex justify-left align-left flex-column">

        <div class="text-main">
          <p class="Carrousell--Text">
            Your health is first
          </p>

          <p class="text">
            Now you can get in touch<br>
            with a doctor easily and<br>
            quickly by contacting us.
          </p>

          <button mat-flat-button color="primary" [routerLink]="['/patients',1,'doctors']">CONTACT US</button>

        </div>
      </mat-sidenav-container>
    </div>
  </section>

</mat-drawer-container>

<div class="Feature">
  <mat-sidenav-container class="main">
      <mat-grid-list cols="3"  class="feature-list">

      <mat-grid-tile class="card">
        <mat-card
          class="mx-auto"
          max-width="500">
          <mat-card-title class="card-list">
            <div class="img1"></div>
            <p class="text-h4 text--primary">
              Health
            </p>
            <div class="text-primary">
              Medical consultations, Pharmacy and<br>
              Laboratory at your service.
            </div>
          </mat-card-title>
          <mat-card-actions>
            <button mat-flat-button color="primary">Learn More</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="card">
        <mat-card
          class="mx-auto"
          max-width="500">
          <mat-card-title class="card-list">
            <div class="img2"></div>
            <p class="text-h4 text--primary">
              Prestigious doctors
            </p>
            <div class="text-primary">
              Comprehensive care with our best <br>
              specialists, pending your problems.
            </div>
          </mat-card-title>
          <mat-card-actions>
            <button mat-flat-button color="primary">Learn More</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile class="card">
        <mat-card
          class="mx-auto"
          max-width="500">
          <mat-card-title class="card-list">
            <div class="img3"></div>
            <p class="text-h4 text--primary">
              Flexible schedules
            </p>
            <div class="text-primary">
              Teleconsultations when you need <br>
              and from wherever you are.
            </div>
          </mat-card-title>
          <mat-card-actions>
            <button mat-flat-button color="primary">Learn More</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-sidenav-container>
</div>
