<div fxLayoutAlign="center center" class="section-doctor-detail">
  <div>
    <mat-card-header>
      <h2>{{doctorData.name}}</h2>
      <h3>Dog Breed</h3>
    </mat-card-header>
    <div fxLayoutAlign="center center">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="width: 450px; margin: 10px 0px">
    </div>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="onSelectDoctorContract(doctorData)">Contratar</button>
    </mat-card-actions>
  </div>
</div>
